/* asterics part start */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
}
/* asterics part end */
/* navbar part start */
.navbar{
    padding-top: 29px !important;
    padding-bottom: 29px !important;
    border-bottom: 1px solid #655923;
    position:absolute;
    width: 100%;
    z-index: 999;
}
.toggle{
    width: 50px;
    text-align: center;
    cursor: pointer;
}
.toggle i{
    color: #fff;
}
.sidebar{
    width: 100%;
    height: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 999;
    color: #fff;
    transition: all linear .4s;
    
}
 
.cross{
    position: absolute;
    top: 18px;
    right: 15px;
     cursor: pointer;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 0 !important;
    padding-left: 0 !important;
    color: #fff;
    transition: all linear .4s;
}
.navbar-expand-lg .navbar-nav .nav-item{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    margin-right: 16px;
    margin-left: 16px;
}
.navbar-expand-lg .navbar-nav .nav-item::after{
    content: '';
    position: absolute;
    bottom: -42px;
    left: 0;
    height: 3px;
    width:100%;
    background-color: #fec600;
    transform: scaleX(0);  
    transition: transform .5s;
    transform-origin:right;
}
.navbar-expand-lg .navbar-nav .nav-item:hover::after{
    transform: scaleX(1); 
    transform-origin:left; 
}
.navbar-expand-lg .navbar-nav:last-child{
    padding-right: 0 !important;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #fec600;
}
/* navbar end */

/* banner part start */
.banner-item{
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 244px;
    padding-bottom: 186px;
    position: relative;
    z-index: 1;
}
.banner-shape-part{
    position: relative;
}
.banner-shape {
    
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #fff;
    bottom: 0px;
    left: 0;
    transform: skewX(-87deg);
    transform-origin: left bottom;
    z-index: 2;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
   height: 100%;
   z-index: -1;
}
.banner-text{
   z-index: 2;
}
.banner-text h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: #fec600;
    padding-bottom: 28px;
}
.banner-text h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    padding-bottom: 20px;
}
.banner-text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#fff;
    line-height: 24px;
    
}
.button{
    padding-top: 59px;
}
.button button {
    border: 1px solid #ffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffff;
    transition: all linear 0.5s;
    margin-right: 30px;
    background-color: transparent;
    width: 130px;
    padding-top: 21px;
    padding-bottom: 19px;
  }
  .banner-text button:hover {
    background-color: #fec600;
    border:1px solid #fec600;
    color: #000;
  }
  .left{
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    color: #000;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}
.right{
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    color: #000;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}
.left:hover{
    background-color: #fec600;
}
.right:hover{
    background-color: #fec600;
}
/* banner part end */

/* about part start */
.common-title h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #111111;
    padding-bottom: 30px;
}
.common-title p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    line-height: 24px;
    /* width: 566px; */
    padding: 0 23px;
}
.box{
    padding-top: 58px;
    padding-bottom: 58px;
    width: 100%;
}

.about-top{
    padding: 39px 33px 45px 34px;
    background-color: #eeeeee;
    position: relative;
}
.about-top h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #111111;
    padding-bottom: 29px;
}
.about-top p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #353535;
    line-height: 24px;
    padding: 0 18px;
    /* transition: all linear .4s; */
}
.shape{
    position: absolute;
    bottom: -10px;
    left: 50%;
    height: 40px;
    width: 40px;
    background-color: #eeeeee;
    transform: translateX(-50%) rotate(45deg);
}
.about-top-part{
    position: relative;
}
.circle{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #000;
    top: 118%;
    left: 50%;
    transform: translateX(-50%);
    /* transition: all linear.4s; */
}
.about-top:hover{
    filter: drop-shadow(1px 3px 1px #d1d1d1);
}
.about-top:hover ~ .circle{
    background-color: #fec600;
}
.about-left{
    padding: 39px 33px 45px 34px;
    background-color: #eeeeee;
    position: relative;
   
}
.about-left h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #111111;
    padding-bottom: 29px;
}
.about-left p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #353535;
    line-height: 24px;
    padding-left: 23px;
}
.about-left-shape{
    position: absolute;
    top: 50%;
    right: -30px;
    height: 30px;
    width: 30px;
    background-color: #eeeeee;
    transform: translateX(-50%) rotate(45deg);
}
.about-left-part{
    position: relative;
}
.left-circle {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #000;
    top: 50%;
    left: 111.5%;
    transform: translateX(-50%);
}
.about-left:hover{
    filter: drop-shadow(1px 3px 1px #d1d1d1);
}
.about-left:hover ~ .left-circle{
    background-color: #fec600;
}
.middle{
    width: 370px;
    height: 370px;
    border: 1px solid black;
    border-radius: 50%;
}
.about-middle {
    width: 320px;
    height: 320px;
    background-color: #eeeeee;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.about-middle::after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.315);
}
.about-middle img{
    height: 100%;
    object-fit: cover;
   
}
.about-right{
    padding: 39px 33px 45px 34px;
    background-color: #eeeeee;
    position: relative;
    
}
.about-right h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #111111;
    padding-bottom: 29px;
}
.about-right p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #353535;
    line-height: 24px;
    padding-right: 17px;
}
.about-right-shape{
    position: absolute;
    top: 50%;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eeeeee;
    transform: translateX(-50%) rotate(45deg);
}
.about-right-part{
    position: relative;
}
.right-circle {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #000;
    top: 50%;
    left: -11.5%;
    transform: translateX(-50%);
}
.about-right:hover{
    filter: drop-shadow(1px 3px 1px #d1d1d1);
}
.about-right:hover ~ .right-circle{
    background-color: #fec600;
}

.about-bottom{
    padding: 39px 33px 45px 34px;
    background-color: #eeeeee;
    position: relative;
}
.about-bottom h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #111111;
    padding-bottom: 29px;
}
.about-bottom p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #353535;
    line-height: 24px;
    padding: 0 18px;
}
.about-bottom-shape{
    position: absolute;
    top: -15px;
    left: 50%;
    height: 30px;
    width: 30px;
    background-color: #eeeeee;
    transform: translateX(-50%) rotate(45deg);
}
.about-bottom-part{
    position: relative;
}
.bottom-circle {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #000;
    top: -27%;
    left: 50%;
    transform: translateX(-50%);
}
.about-bottom:hover{
    filter: drop-shadow(1px 3px 1px #d1d1d1);
}
.about-bottom:hover ~ .bottom-circle{
    background-color: #fec600;
}
/* about part end */

/* portfolio part start */
.port-images{
    background: url(../images/portfolio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 99px;
    padding-bottom: 93px;
    position: relative;
    z-index: 1;
}
.port-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    z-index: -1;
}
.shape1{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform: skewX(-87deg);
    transform-origin: left bottom;
}
.shape2{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #fff;
    top: 0;
    left: 0;
    transform: skewX(-87deg);
    transform-origin: right top;
}
.port-text h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #ffff;
    padding-bottom: 30px;
}
.port-text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffff;
    line-height: 24px;
    /* width: 566px; */
    padding: 0 23px;
}
.port-item{
    padding-top: 57px;
}
.one{
    margin-bottom: 30px;
}
/* portfolio part end */
 
/* .service part start */
.service-slider{
    margin-bottom: 100px;
}
.service-main{
    position: relative;
    width: 100%;
    height: 100%;
}
.service-text h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #111111;
    padding-bottom: 30px;
}
.service-text p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #353535;
    line-height: 24px;
    padding: 0 23px;
    margin-bottom: 119px;
     
}
.service-main .icon{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 70px;
   margin: 0 auto;
   overflow: hidden;
   object-fit: cover;
}
.service-left {
    position: absolute;
    bottom: -10%;
    left: 48.9%;
    transform: translateY(-50%);
    color: #000;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    border: 1px solid #000;
    cursor: pointer;
}
.service-right {
    position: absolute;
    top: 24%;
    right: 48.5%;
    transform: translateY(-50%);
    color: #000;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    border: 1px solid #000;
    cursor: pointer;
}
.service-left:hover{
    background-color: #fec600;
    border: 1px solid #fec600;
}
.service-right:hover{
    background-color: #fec600;
    border: 1px solid #fec600;
}
.service-main:hover.text{
    filter: drop-shadow(1px 3px 1px #d1d1d1);
}
.service-main .row{
    align-items: center;
}
.slick-slide img {
    display: inline-block;
}
.service-main p{
    padding:57px 31px;
    background-color: #f1f1f1;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
}
.service-main:nth-child(odd) .row{
    flex-direction: row-reverse;
}
.service-main:nth-child(odd) .row h2{
    text-align: left;
}
.service-main:nth-child(even) .row h2{
    text-align: right;
}
.service-main.slick-center .row .icon{
    transform: scale(1.3);
    background-color: #fec600;
}
.service-main.slick-center .row p{
    filter: drop-shadow(1px 3px 1px #d1d1d1);
}
.service-wrapper{
    position: relative;
}
.service-shape {
    position: absolute;
    top: 96px;
    right: 38.5%;
    height: 20px;
    width: 20px;
    background-color: #f1f1f1;
    transform: translateX(-50%) rotate(45deg);
}
.service-shape2 {
    position: absolute;
    top: 90px;
    left: 40.5%;
    height: 20px;
    width: 20px;
    background-color: #f1f1f1;
    transform: translateX(-50%) rotate(45deg);
}
.line-shape {
    position: absolute;
    top: 15%;
    left: 32.8%;
    z-index: -1;
    height: 779px;
    overflow: hidden;
}
/* service part end */

/* team part start */
#team{
    background: url(../images/service.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 198px;
    padding-bottom: 98px;
    position: relative;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    z-index: 1;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.724);
    z-index: -1;
}
.pricing-text h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #111111;
    padding-bottom: 30px;
}
.pricing-text p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #353535;
    line-height: 24px;
    padding: 0 23px;
    margin-bottom: 55px;
     
}
.image{
    margin-bottom: 60px;
}
.team-image-part{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #cccccc;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.team-image-part::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ebebeb6f;
    width: 100%;
    height: 100%;
}
.team-image-part img{
    padding-top: 10px;
    object-fit: cover;
    width: 100%;
}
.image.slick-center .team-image-part{
    
    background-color: #fec600;
    transform: scale(1.2);
}
.image.slick-center .team-image-part::after{
    
    opacity: 0;
}
.team-text-slider{
    margin-top: 60px;
}
.team-text{
    position: relative;
}
.mask img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.team-text {
    padding-top: 58px;
    padding-bottom: 58px;
    padding-left: 30px;
    padding-right: 46px;
    background-color: #f1f1f1;
    margin-top: 10px;
    margin: 10px auto;
    position: relative;
}
.team-text::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    transform: translateX(-50%) rotate(45deg);
    background-color:#f1f1f1;
    
}
#team .team-text-slider .slick-list.draggable{
    padding-left: 13px !important;
    }
    .team-text img {
        position: absolute;
        bottom: 60px;
        right: 50px;
    }
.team-text h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 5px;
    color: #000;
}
.team-text i{
    color: #fec600;
    margin-bottom: 10px;
}
.team-text h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: px;
    color: #000;
    margin-bottom: 30px;
}
.team-text p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
    /* width: 750px; */
}
 
.team-right {
    position: absolute;
    top: -10%;
    left: 3.3%;
    transform: translateY(-50%);
    color: #fff;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    border: 1px solid #fff;
    cursor: pointer;
}
.team-left {
    position: absolute;
    bottom: -7%;
    left: 3.3%;
    transform: translateY(-50%);
    color: #fff;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    border: 1px solid #fff;
    cursor: pointer;
}
.team-left:hover{
    background-color: #fec600;
    border: 1px solid #fec600;
    color:#000;
}
.team-right:hover{
    background-color: #fec600;
    border: 1px solid #fec600;
    color:#000;
}
.team-part{
    position: relative;
}
.line2 {
    position: absolute;
    top: -7%;
    left: 4.6%;
    z-index: -1;
    overflow: hidden;
}
/* team part end */

/* pricing part start */
.pricing-details{
    text-align: center;
    background-color: #f1f1f1;
    position: relative;
    margin-bottom: 10px;
}
.pricing-name{
    background-color: #353535;
    padding-top: 30px;
    padding-bottom: 93px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    transition: all linear .3s;
}
.pricing-name h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    transition: all linear .3s;
}
.pricing-menu{
    padding-top: 89px;
    padding-bottom: 36px;
    background-color: #f1f1f1;
}
.pricing-menu p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:353535;
    line-height: 40px;
}
.pricing-button{
    background-color: #353535;
    padding-top: 41px;
    padding-bottom: 25px;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    transition: all linear .3s;
}
.pricing-button a{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    transition: all linear .3s;
}
.pricing-circle {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 14%;
    left: 37%;
    border-radius: 50%;
    border: 1px solid #353535;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}
.pricing-rate{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    position: absolute;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}
.price-text h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 29px;
    color: #fff;
    margin-bottom: 10px;
    transition: all linear .3s;
}
.price-text p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    transition: all linear .4s;
}
 .pricing-plan-item:hover .pricing-name{
    background-color: #fec600;
 }
 .pricing-plan-item:hover .pricing-name h2{
    color: #222222;
 }
 .pricing-plan-item:hover .pricing-button{
    background-color: #fec600;
 }
 .pricing-plan-item:hover .pricing-button a{
    color: #222222;
 }
 .pricing-plan-item:hover .pricing-circle{
    border: 1px solid #fec600;
 }
 .pricing-plan-item:hover .pricing-rate{
    background-color: #fec600;
 }
 .pricing-plan-item:hover .pricing-rate .price-text h2{
    color: #222222;
 }
 .pricing-plan-item:hover .pricing-rate .price-text p{
    color: #222222;
 }
 /* pricing part start */

 /* counter part start */
 #count{
    background: url(../images/pricing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
    clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0% 100%);
}
#count:after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: -1;

}
.client-text{
    width: 19%;
    border: 1px solid #fff;
    text-align:center;
    padding: 35px 30px;
    transform: skew(-5deg);
}
h6 span{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #fff;
    transform: rotate(4deg);
}
.client-text p{
    padding-top: 20px;
    transform: rotate(4deg);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.counter-rotate {
	transform: rotate(-3deg);
}
/* counter part end */

 /* testimonial part start */
 #testimonial {
    height: 550px;
}
.testimonial-text-part h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #111111;
    padding-bottom: 30px;
}
.testimonial-text-part p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #353535;
    line-height: 24px;
    padding: 0 23px;
    margin-bottom: 55px;
}
.testimonial-item {
    border: 1px solid #dddddd;
    height: 350px;
    
}
.testimonial-item:hover{
    height: 400px;
}
.testimonial-img {
    background: #f1f1f1;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 54%, 0 65%);
    position: relative;
}
.testimonial-img2 {
    background: #f1f1f1;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 58%, 0 70%);
    position: relative;
    padding-top: 10px;
}
.testimonial-img3 {
    background: #f1f1f1;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;
    padding-top: 10px;
}
.testimonial-img4 {
    background: #f1f1f1;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0 90%);
    position: relative;
    padding-top: 10px;
}
.testimonial-img img{
    padding-top: 10px;
}
.testimonial-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background: rgba(248, 218, 120, 0.5);
    transition: 0.5s;
}
.testimonial-overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background: rgba(248, 218, 120, 0.5);
    transition: 0.5s;
}
.testimonial-overlay2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background: rgba(248, 218, 120, 0.5);
    transition: 0.5s;
}
.testimonial-item:hover .testimonial-overlay{
    opacity: 1;
    height: 100%;
    
}
.testimonial-item:hover .testimonial-overlay1{
    opacity: 1;
    height: 100%;
    
}
.testimonial-item:hover .testimonial-overlay2{
    opacity: 1;
    height: 100%;
    
}
.testimonial-overlay a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.testimonial-overlay a i{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #353535;
    
}
.testimonial-overlay1 a {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.testimonial-overlay1 a i{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #353535;
    
}
.testimonial-overlay2 a {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.testimonial-overlay2 a i{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #353535;
    
}
.testimonial-text {
    text-align: center;
    line-height: 24px;
    /* transform: translateY(-200%); */
    margin-top: -133px;
}
.testimonial-text2 {
    text-align: center;
    line-height: 24px;
    /* transform: translateY(-200%); */
    margin-top: -100px;
}
.testimonial-text3 {
    text-align: center;
    line-height: 24px;
    /* transform: translateY(-200%); */
    margin-top: 10px;
}
.testimonial-text4 {
    text-align: center;
    line-height: 24px;
    /* transform: translateY(-200%); */
    margin-top: -10px;
}
.testimonial-text h4{
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: 111111;
}
.testimonial-text p{
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #919191;
}
.testimonial-text2 h4{
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: 111111;
}
.testimonial-text2 p{
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #919191;
}
.testimonial-text3 h4{
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: 111111;
}
.testimonial-text3 p{
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #919191;
}
.testimonial-text4 h4{
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: 111111;
}
.testimonial-text4 p{
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #919191;
}
.testimonial-icon {
    text-align: center;
    opacity: 0;
    transition: all linear 0.5s;
    margin-top: -30px;
    padding-bottom: 30px;
}
.testimonial-icon a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    text-align: center;
    color: #111111;
    margin-left: 10px;
    margin-right: 10px;
}
.testimonial-icon a:hover{
    background-color: #fec600;
    border: 1px solid #fec600;
}
.testimonial-item:hover .testimonial-icon {
    opacity: 1;
    margin-top: 10px;
}
/* testimonial part end */

/* brand part start  */
#brand {
    padding-top: 49px;
    padding-bottom: 49px;
    background-color: #f1f1f1;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
    transform: translateY(20%);
}
.brand-item{
    width: 18%;
    border: 1px solid #d1d1d1;
 padding: 48px 15px; 
 transform: skew(-5deg);
 transition: all linear .4s;
 position: relative;
 margin-right: 15px;
 margin-left: 15px;
}
.brand-item img{
    transform: rotate(4deg);
}
.brand-wrapper{
    transform: rotate(-2.2deg);

}
.brand-item.slick-current{
    
    border: 1px solid #fec600;
}
/* brand part end */

/* foooter part start */
#footer {
    padding-top: 93px;
    padding-bottom: 23px;
    background-color: #222222;
     
}
.footer-logo {
    text-align: center;
    position: relative;
    padding-bottom: 100px;
    position: relative;
}
.footer-logo::after {
    content: '';
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #515151;
    transform: rotate(-3deg);
}
.contact-details{
    position: relative;
    margin-bottom: 65px;
}
.contact-details::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: 0;
    background-color: #555555;
}
.contact-icon{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    line-height: 35px;
    background-color: #fec600;
   margin: 0 auto;
   margin-bottom: 20px;
}
.contact-icon i{
    color: #353535;
}
.contact-text a{
    color: #c8c8c8;
    width: 250px;
    margin: 0 auto;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.contact-text-1 a{
    color: #c8c8c8;
    width: 250px;
    margin: 0 auto;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 200px;
}
.follow h3{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}
.follow-icon-details{
    display: flex;
   align-items: center;
   justify-content: center;
}
.follow-icon{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffff;
    margin-right: 15px;
    margin-left: 15px;
    transition: all linear .4s;
}
.follow-icon i{
    color: #353535;
}
.follow-icon:hover{
    background-color: #fec600;
}
/* footer part end */

/* copyright part start */
.copyright {
    padding: 22px 0;
    background-color: #353535;
}
.copyright p{
    color: #fff;
}
.copyright a{
    color: #fec600;
}
.copyright text-center p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
/* copyright part end */


.navscroll{
    position: fixed;
    background-color: red;
    top: 0;
    left: 0;
    width: 100%;
}
 